{% extends "base.html" %}
{% block content %}
<form class="w-full bg-white rounded-md m-2 p-2" method="GET">
    <p class="text-xl font-bold capitalize">Filters</p>
    <select class="border-2 rounded-md border-black p-2 mt-2 mx-2" name="facility_ward">
        <option value="none">Ward</option>
        {% for object in wards %}
        <option value="{{object.pk}}">{{object}}</option>
        {% endfor %}
    </select>
    <select class="border-2 rounded-md border-black p-2 mt-2 mx-2" name="facility_kind">
        <option value="none">Kind</option>
        <option value="PHC">PHC</option>
        <option value="CHC">CHC</option>
    </select>
    <button class="capitalize bg-[#333] p-2 text-white rounded-lg mx-2">apply</button>
</form>
<div class="grid grid-cols-2 gap-4">
    {% for facility in object_list %}
    <div class="bg-white rounded-lg w-full m-2 p-4">
        <div class="flex justify-between items-center">
          <p class="font-bold text-xl">{{facility.name}}</p>
          <p class="text-gray-500 bg-gray-300 px-2 rounded-full">{{facility.kind}}</p>
        </div>
        <p class="text-gray-700 mt-2">{{facility.address}}</p>
        <hr class="border-t-1 mt-4 w-full">
        <div class="flex justify-between mt-2 items-center">
          <p class="font-bold">{{facility.phone}}</p>
          <a href="/facility/{{facility.pk}}/" class="border-2 border-black rounded-md font-bold capitalize px-2">view</a>
        </div>
    </div>
    {% endfor %}
</div>


{% endblock content %}